{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{{ post.title }}</title>
        <link rel="stylesheet" href="{% static 'css/article.css' %}">
    </head>
    <body class="article">
        <div class="header">
            <img src="{% static 'img/dpb-logo.png' %}" />
            <a class="all-posts-link" href="/">Все статьи</a>
        </div>
        <div class="content">
            <h2 class="post-title">{{ post.title }}</h2>
            <div class="article-info">
                <div class="article-author">{{ post.author.username }}</div>
                <div class="article-created-date">{{ post.created_date }}</div>
            </div>
            <p class="article-text">{{ post.text }}</p>
        </div>
    </body>
</html>
